.text-accent-1 {
	color: $color__accent-1;
}
.text-accent-2 {
	color: $color__accent-2;
}
.text-accent-3 {
	color: $color__accent-3;
}
.background-accent-1 {
	background-color: $color__accent-1;
}
.background-accent-2 {
	background-color: $color__accent-2;
}
.background-accent-3 {
	background-color: $color__accent-3;
}