input {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 100%;
	height: $input__height;
	padding: 10px 7.5px 7.5px 15px;
	font-family: $font__body;
	font-size: 16px;
	text-align: left;
	outline: none;
	border: 1px solid $color__input-border;
	border-radius: 0.5em;
	background: #fff;

	&.small  { width: 240px; }
	&.medium { width: 270px; }
	&.large  { width: 300px; } 
}

input[type="submit"],
input[type="button"] {
	text-align: center;
}

/*==== Form ====*/
.login-wrapper {
	max-width: 300px;
	margin: 0 auto;

	.errors {
		ul {
			li {
				border: none;
			}
		}
	}
}

/*==== Field Groups ====*/
.field__group {
	position: relative;
	@include display-flex;
	flex-flow: column nowrap;

	label {
		font-size: 12px;
		font-weight: 700;
		margin-left: 7px;
		margin-bottom: 0;
		margin-top: 5px;
	}
	input {
	}
}

/*==== PRODUCT: SELECT STYLING ====*/
/* Note: May want to make these styles universal to the theme */
.ui-selectmenu-button {
  display: block; 
  margin: auto;
  font-size: 16px;
  height: 52px;
  z-index: 0;
	background: $select__color-background;
	border: 1px solid $color__input-border;
	outline: 0;
	margin-bottom: 15px;

	span.ui-selectmenu-text {
		line-height: 52px;
		padding: 0 15px;
		text-align: left;
		font-family: $font__body;
	}
	&:after {
	    position: absolute;
	    top: 14px;
	    right: 50%;
	    z-index: 1;
	    margin-right: -43%;
	    font-size: 16px;
	    font-family: $font-awesome;
	    content: "\f0d7";
	    pointer-events: none;
	}
}
.ui-selectmenu-button[aria-expanded="true"] {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.ui-selectmenu-menu {
	display: block;
	opacity: 0;

	.ui-menu {
		max-height: 270px;
		border: 1px solid $color__input-border;
    border-radius: 0 0 8px 8px;
	}
	ul {
		height: 0;
		transition: all 0.3s ease-in-out;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	}
    
}
.ui-selectmenu-open {
	opacity: 1;
	z-index: 2000;
	ul {
		height: 500px;
	}
}
.ui-selectmenu-menu .ui-menu {
	margin-top: -2px;
}
.ui-menu .ui-menu-item {
	line-height: $select__line-height;
	background: #fff;
	border-top: 1px solid $color__input-border;
	border-bottom: 1px solid $color__input-border;
	margin-bottom: -2px;
	transition: all 0.2s ease-in-out;
	font-family: $font__body;
	padding: 5px 15px;
	font-size: 14px;
	font-weight: normal;

	&.ui-state-disabled {
		display: none;
	}

	&.ui-state-focus{
		margin: 0;
		margin-top: 0;
		margin-bottom: -2px;
		border: 1px solid $color__input-border;
		background-color: darken($select__color-background, 2.5);
	}
	&:nth-last-of-type(1).ui-state-focus {
		margin-top: -2px;
	}
	&:nth-of-type(1) {
		border-top: none;
	}
	&:nth-last-of-type(1) {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		border-bottom: none;
	}
}
/* ==== SELECT INPUTS ==== */
/* Select elements should always be wrapped in the select wrapper for correct styling. We 
   need to use a select wrapper to be able to create the :after pseudo class, as pseduo
   classes don't work on <select> elements */
.select-wrapper {
	display: inline-block;
	position: relative;

	select {
		-webkit-appearance: none;
		-ms-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: 1px solid $color__input-border;
		border-radius: 0;
		background-color: $color__background;
		margin: 3.75px 0;
		font-family: $font__body;
		font-size: 14px;
		color: $color__text-copy;
		width: 250px;
		height: $input__height;
		padding: 10px 7.5px 7.5px 15px;
		outline: 0;
	}
	&:after {
    position: absolute;
    top: 16px;
    right: 15px;
    z-index: 1;
    margin-right: 0;
    font-size: 14px;
    font-family: $linear-icons;
    content: "\e93a";
    pointer-events: none;
	}
}

/* ==== CHECKBOX INPUTS ==== */
input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	width: 22.5px;
	height: 22.5px;
	border: 1px solid $color__input-border;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	transition: border-color 0.1s ease-out;

	&:focus, &:active {
		outline: none;
	}

	&:checked {
		outline: none;
		color: $color__accent-1;
		border: 1px solid $color__accent-1;

		&:before {
			content: "\e934";
			font-family: $linear-icons;
			font-size: 14px;
			margin-top: 1px;
			@include vertical-align;
			position: absolute;
			width: 100%;
			text-align: center;
		}
	}
}

/* ==== RADIO INPUTS ==== */
input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	width: 18px;
	height: 18px;
	border: 1px solid $color__input-border;
	border-radius: 50%;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	transition: border-color 0.1s ease-out;

	&:focus, &:active {
		outline: none;
	}

	&:checked {
		outline: none;
		color: white;
		background-color: $color__accent-1;
		border: 1px solid $color__accent-1;

		&:before {
			content: " ";
	    width: 5px;
	    height: 5px;
	    background-color: $color__background;
	    border-radius: 50%;
	    left: 1%;
	    right: 1%;
	    margin: 0 auto;
			@include vertical-align;
			@include box-shadow;
			position: absolute;
			text-align: center;
		}
	}
}

@media (max-width: 468px) {
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select:focus,
	textarea {
	  font-size: 12px;
	}
}