.secret__discount-wrapper {

	.secret__discount {
		display: none;
		top: 0;
		right: 75%;
		@include vertical-align(absolute);
		@include box-shadow-wide;
		padding: 22.5px 22.5px 15px;
		border-radius: 1em;
		background-color: $color__background-alternate;
		width: 300px;
		text-align: center;

		.arrow {
			// content: "▶";
			color: $color__background-alternate;
			text-shadow: 2px 2px 2px lightgrey;
			@include vertical-align(absolute);
			right: -15px;
			font-size: 20px;
			font-style: normal;
			font-family: 'Zapf Dingbats';
		}

		h4 {
			text-transform: uppercase;
			font-weight: 900;
			font-size: 12px;
			color: $color__accent-1;
			padding: 0 15px 15px;
			margin-bottom: 0;
		}
		h5 {
			font-size: 18px;
			font-weight: 700;
			margin: 7.5px 0 15px;
			letter-spacing: 1px;
		}

	}
	.easter_egg {
		width: 90px;
		padding: 20px;
		cursor: pointer;
	}
}


@media (max-width: 468px) {
	.secret__discount-wrapper {
		.secret__discount {
			width: 270px;
			
			p {
				font-size: 14px;
			}
		}
	}
}