<div class="aa-article">
  <div class="aa-text">
    <span class="aa-title">[[& _highlightResult.title.value ]]</span>
    <span class="aa-category">
    	[[# helpers.articleCategory ]]
    	[[/ helpers.articleCategory ]]
    </span>
  </div>
</div>
