<a href="#" class="btn-minus min">
	<svg viewBox="127 -2 46 45" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(129.600000, 0.000000)">
	        <path d="M20.8617976,0 C32.3837898,0 41.723429,9.25235294 41.723429,20.6648235 C41.723429,32.0781176 32.3837898,41.3296471 20.8617976,41.3296471 C9.33980549,41.3296471 0.00016627451,32.0781176 0.00016627451,20.6648235 C0.00016627451,9.25235294 9.33980549,0 20.8617976,0" id="Fill-1"></path>
	        <path d="M20.8617976,0 C32.3837898,0 41.723429,9.25235294 41.723429,20.6648235 C41.723429,32.0781176 32.3837898,41.3296471 20.8617976,41.3296471 C9.33980549,41.3296471 0.00016627451,32.0781176 0.00016627451,20.6648235 C0.00016627451,9.25235294 9.33980549,0 20.8617976,0 L20.8617976,0 Z" id="Stroke-3" stroke-width="2.5"></path>
	        <path d="M31.6003875,19.8113208 L10.1235404,19.8113208" id="Stroke-7" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
	    </g>
	</svg>
</a>