{% if settings.show_secret_discount %}
<div class="secret__discount-wrapper">
  <img class="easter_egg" alt="easter egg" src="{{ 'easter_egg.png' | asset_url }}"/>
  <div class="secret__discount">
    <i class="arrow">▶&#xFE0E;</i>
    <h4>You found a secret discount code!</h4>
    <p>Use the code below <b>at checkout</b> to claim your mystery discount...</p>
    <h5>{{ settings.secret_discount_code }}</h5>
  </div>
  <script>
    $('.easter_egg').on('mouseover touchstart', function() {
      $('.secret__discount').fadeIn(200);
    })
    $('.secret__discount').on('mouseleave touchend', function() {
      $('.secret__discount').fadeOut(200);
    })
  </script>
</div>
{% endif %}