<!-- HOMEPAGE SLIDER:

	 This is the homepage slider. It contains two sliders: Slider and Testimonial slider. 
	 Note that the testimonial slider is nested within the Slider. They are both initialised
     at the bottom of the snippet using SlickJS. See slider.css.liquid for background images. -->

<div class="container-fluid slider">
  <div id="probiotics" class="background">
    <div class="col-xs-8 col-sm-5 description">
      <h2>Organic Probiotics <br class="hidden-xs hidden-sm hidden-md">+ Prebiotics</h2>
      <a href="/products/organic-probiotic"><button class="hidden-xs btn-pink">Shop Probiotics</button></a>
    </div>
    <div class="col-xs-8 col-sm-5 testimonial">
      <button class="left"><i class="fa fa-chevron-left"></i></button>
      <div class="testimonial-slider">
        <div>
          <h3>Amazon Review:</h3>
          <p>“This stuff is gold! I have had stomach and gut problems in the past and have cured it with probiotics. Probiotics is a must in my vitamin cabinet!"</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
          <p>- Aly</p>
        </div>
        <div>
          <h3>Amazon Review:</h3>
          <p>“I've been using it for a few days now, and I have not had any of the side effects that I've had with other probiotics...no bloating, no diarrhea, and nothing but great results.”</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
          <p>- Mary</p>
        </div>
      </div>
      <button class="right"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="hidden-btn btn-container">
      <a href="/products/organic-probiotic"><button class="btn-pink">Shop Probiotics</button></a>
    </div>
  </div>
  <div id="protein" class="background">
    <div class="col-xs-8 col-sm-5 description">
      <h2>Organic<br> Superfood<br> Protein</h2>
      <a href="/products/organic-superfood-protein"><button class="hidden-xs btn-pink">Shop Protein</button></a>
    </div>
    <div class="col-xs-8 col-sm-5 testimonial">
      <button class="left"><i class="fa fa-chevron-left"></i></button>
      <div class="testimonial-slider">
        <div>
          <h3>Amazon Review:</h3>
          <p>“This is one of the best protein powders I've ever tried. Completely natural with plant-based protein which I love...”</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
          <p>- Sarah McWilliams</p>
        </div>
        <div>
          <h3>Amazon Review:</h3>
          <p>“A super high quality supplement (that happens to be a good protein powder). I believe it is way better than whey..."</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
          <p>- Patrick</p>
        </div>
        <div>
          <h3>Amazon Review:</h3>
          <p>“I mixed this powder with ice, unsweetened coconut milk and a teaspoon of organic raw honey and it was really delicious. I felt really energized and balanced after drinking my smoothie."</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
          <p>- Jason</p>
        </div>
      </div>
      <button class="right"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="hidden-btn btn-container">
      <a href="/products/organic-superfood-protein"><button class="btn-pink">Shop Protein</button></a>
    </div>
  </div>
  <div id="omega-3" class="background">
    <div class="col-xs-8 col-sm-5 description">
      <h2>The new way<br class="hidden-sm hidden-lg"> to<br class="hidden-xs hidden-md"> take your Omega-3</h2>
      <a href="/products/omega-3"><button class="hidden-xs btn-pink">Shop Omega-3</button></a>
    </div>
    <div class="col-xs-8 col-sm-5 testimonial">
      <button class="left"><i class="fa fa-chevron-left"></i></button>
      <div class="testimonial-slider">
        <div>
          <h3>Amazon Review:</h3>
          <p>“The Ora Omega-3 spray is wonderful!! Everything from the environmentally friendly and aesthetically pleasing to the eye packaging to the great product which is vegan...”</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
          <p>- M. Karalius</p>
        </div>
        <div>
          <h3>Amazon Review:</h3>
          <p>“Definitely not a gross fish taste like the pills I have taken in the past. This is easy to take and I thought I would need to flush down with water, but it really didn't matter."</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
          <p>- Steph K.</p>
        </div>
      </div>
      <button class="right"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="hidden-btn btn-container">
      <a href="/products/omega-3"><button class="btn-pink">Shop Omega-3</button></a>
    </div>
  </div>
</div>
<!-- Slider initialisation script -->
<script>
$(document).ready(function(){
  $('.slider').slick({
    fade: true,
    arrows: false,
    dots: true,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    speed: 1000
  });
  
  // Initialise Testimonial slider
  $('.testimonial-slider').slick({
    prevArrow: $('.testimonial .left'),
    nextArrow: $('.testimonial .right'),
    fade: true
  })
  
  $('.slider .slick-dots button')
  	.html("<i class='fa fa-circle-o'></i>");
  
  $('#slick-slide00 i').addClass("fa-dot-circle-o");
  
  $('.slick-dots li').mousedown(function() {
    $('.slick-dots i').removeClass('fa-dot-circle-o');
    $('.slick-dots i').addClass('fa-circle-o');
    $(this).find('i').addClass('fa-dot-circle-o');
  });
  
  // Add filled dot circle to current slide
  $('.slider').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
	
    // Try to see if current slider clicked is automated or from dots
    try {
      var currentSlideId = "#slick-slide0"+currentSlide;
      var nextSlideId    = "#slick-slide0"+nextSlide;

      var currentButton = $(slick["$dots"][0]).children(currentSlideId);
      var nextButton    = $(slick["$dots"][0]).children(nextSlideId);

      currentButton.find('i').removeClass('fa-dot-circle-o');
      currentButton.find('i').addClass('fa-circle-o');
      nextButton.find('i').addClass('fa-dot-circle-o');
    }
    
    // Otherwise do nothing! (It's the subslide that's being clicked, most likely)
    catch(err) {
    }
  })
  
  // Pause slider when testimonial arrows clicked
  $('.testimonial .slick-arrow').on('click', function() {

    // Pause slider and wait for person to read
    $('.slider').slick('slickPause');
    
    // Start timer for slider restart
    setTimeout(function() {
      $('.slider').slick('slickPlay');
    }, 7500);
  })
  
});
</script>