<div id="page_404">
  <div class="wrapper">
	<h1 class="centered">Oops! I can't find that page :(</h1>
	<h4 class="delta centered"><a href="/">Click here</a> to go back to a page that's doing its job.</h4>
  </div>
</div>
