<style>
  .thanks-msg {
    padding: 150px 30px;
    text-align: center;
  }
</style>
<!--  START THANK YOU MESSAGE  -->
<div id="thanks-container">
  <div class="thanks-msg">
    <h1>Thanks! Your message has been sent.</h1>
    <h3>You're sure to be in the good books now!</h3>
  </div>
</div>
<!--  END THANK YOU MESSAGE  -->
