{% layout settings.customer_layout %}
<!-- START SIGN UP FORM -->
<div id="reset-password">
  <div id="sign-up-form" class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <div class="wrapper">
      <div id="create-account" class="login-box">
        <h2 id="reset-password-title" class="accounts-title">{{ 'customer.reset_password.title' | t }}</h2 >
        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
        {% form 'reset_customer_password' %}
          {{ form.errors | default_errors }}
          <div id="password" class="clearfix large_form">
            <input type="password" value="" name="customer[password]" id="customer_password" class="long login-input" placeholder="New Password" />
          </div>
          <div id="password_confirm" class="clearfix large_form">
            <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="long login-input" placeholder="Confirm Password" />
          </div>
          <div class="sign-up action_bottom">
            <input type="submit" class="flat aqua" value="{{ 'customer.reset_password.submit' | t }}"/>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>