#new_products {
	#products {
		padding-bottom: 90px;
		position: relative;
		width: 100%;

		h2 {
			font-size: 60px;
		}
		.header {
			text-align: center;
			margin: 60px 15px;
		}
	}
	#action {
		button {
			width: 270px;
		}
	}
}