#subscriptions {
	height: 100vh;
	width: 100%;
	background-color: $color__background-alternate;

	/* Subscription Screens */
	.screen {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		top: -100vh;
		overflow: hidden;
		@include display-flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;

		.screen-header,
		.screen-form,
		.screen-footer {
			max-width: 300px;
			width: 100%;
		}

		/* Make links work on iphone */
		a, input {
			display: block;
			position: relative;
			z-index: 1;
		}

		/* Screen: Back Button */
		.button_back {
			position: absolute;
			top: $size__site-navbar + 15px;
			left: 30px;
			text-align: center;

			a {
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 12px;
				font-weight: 700;
			}
		}
		/* Screen: Header */
		.screen-header {
			text-align: center;
			margin-bottom: 15px;
		}
		/* Screen: Form */
		.screen-form {
			border-radius: 8px;
			@include box-shadow-wide;
			@include display-flex;
			justify-content: center;
			flex-flow: column wrap;
			background-color: $color__background;
			padding: 22.5px 30px 30px;

			/* Screen: Radio Inputs */
			.radio-group {
				input, label {
					line-height: 2.2em;
					font-weight: normal;
					font-size: 16px;
					margin: 3.75px;
				}
				input {
					display: inline-block;
					margin-bottom: 7.5px;
				}
				input[type="text"] {
					width: 100%;
					display: none;
					border-radius: 8px;
				}
			}

			/* Screen: Actions */
			.form__actions {
				button {
					width: 100%;
				}
			}
		}
		/* Screen: Footer */
		.screen-footer {
		}
		/* Subscription Lowdown */
		.subscription_lowdown {
			text-align: left;
			margin: 0 15px;
			padding: 30px;

			.info__box {
				border-left: 4px solid $color__accent-1;

				h6 {
					padding-top: 7.5px;
					padding-left: 15px;
					font-size: 13px;
					font-weight: bold;
					letter-spacing: 1px;
					text-transform: uppercase;
				}
				li {
					font-size: 16px;
					line-height: 2.2em;
				}
			}

			
		}
	}
	/* Subscriptions: Introduction */
	#subscriptions__intro {
		@include display-flex;
		justify-content: center;
		align-items: center;
		flex-flow: column nowrap;

		/* Subscriptions Intro: Header */
		.subscriptions__intro-header {
			text-align: center;

			.subscriptions__intro-title {
				font-size: 48px;
			}
			.subscriptions__intro-content {
				font-size: 18px;
				width: 450px; 
				margin: 30px auto;
			}
		}

		/* Subscriptions: Actions */
		button {
			width: 270px;
			max-width: 300px;
		}

		/* Subscriptions Intro: Summary Content */
		.subscriptions__intro-summary {
			.subscriptions__intro-summary_content {
				margin: 30px auto;
				padding: 30px 0 22.5px;
				text-align: center;
				border-top: 1px solid $color__input-border;
				border-bottom: 1px solid $color__input-border;

				h6 {
					font-weight: 700;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin-top: 0;
				}

				.list.checks {
					display: inline-block;
					margin: 0 auto;
					list-style: none;
					text-align: left;
					padding: 0;

					li {
						line-height: 2.2em;
						font-size: 16px;
					}

					li:before {
						font-family: $linear-icons;
						font-size: 16px;
						font-weight: 700;
						vertical-align: sub;
						content: "\e934";
						color: $color__accent-1;
						margin-right: 7.5px;
					}
				}
			}
			/* Link to Example Flow */
			.subscriptions__intro-summary_example {
				text-align: center;

				a {
					text-transform: uppercase;
					font-weight: 500;
					letter-spacing: 1px;
				}
			}
		}
	}

	/* Subscriptions: Product Selection Form */
	.form__product_selection {
		height: 450px;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		padding: 0 15px 15px;
		border: 1px solid $color__input-border;
		border-radius: 8px;

		/* Product Selection: Form */
		.wrapper {

			form {
				@include display-flex;
				flex-flow: row wrap;
				height: 180px;
				align-items: center;
				border-bottom: 1px solid $color__input-border;

				/* Form: Product Image */
				.product__image {
					width: 90px;
					height: 90px;
				}
				/* Form: Product Title */
				.product__title {
					width: 150px;
					padding: 7.5px;

					h6 {
						font-size: 13px;
					}
				}
				/* Product: Price */
				.product__price {
					.price {
						font-weight: bold;
						font-size: 18px;
					}
				}
				/* Form: Product Wrapper */
				.product__wrapper {
					width: 60px;
					height: 100%;
					position: relative;

					.product__subscription-details,
					.product__actions {
						display: none;
					}

					.product__options,
					.product__purchase-section {
						height: 100%;
					}

					/* Product: Quantity */
					.product__quantity-wrapper {
						position: relative;
						height: 100%;
						text-align: center;

						input {
							appearance: none;
							border: none;
							border-bottom: 1px solid $color__input-border;
							font-size: 24px;
							width: 40px;
							height: 45px;
							font-weight: 700;
							text-align: center;
							padding: 0;
							margin: 67.5px auto 0;
						}
						.quantity__buttons {
							position: absolute;
							height: 100%;
							width: 100%;
							padding: 0;
							top: 0;
							text-align: center;
							margin-top: -67.5px;

							a {
								position: absolute;
								left: 1%;
								right: 1%;
								margin: 0 auto;

								&.btn-plus {
									top: 30px;
								}
								&.btn-minus {
									bottom: 30px;

									&.min {
										pointer-events: none;

										i.linear:before {
											color: $color__input-border;
										}
									}
								}
								i.linear:before {
									font-size: 24px;
								}
							}

						}
					}
				}
			}
		}
	}

	/* Subscriptions Step 3 */
	#subscriptions__step_3 {
		flex-flow: row wrap;
		align-items: flex-start;
    left: 1%;
    right: 1%;
    margin: 0 auto;

    #subscription_summary {
    	text-align: right;
    	margin: 0 45px;
    	max-width: 330px;
    	min-width: 315px;
    }

    /* Product Selection */
    #product_selection {
    	min-width: 390px;
    }

		/* Subscription Summary */
		#form__subscription_summary {
			position: relative;
			text-align: left;

			/* Summary: Header */
			.summary_header {
				padding: 7.5px 0 12.5px;
		    margin: 0 0 15px;
				border-bottom: 1px solid $color__input-border;

				h6 {
					font-weight: 700;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: 1px;
					margin: 0;
				}
			}

			/* Summary: Loading */
			.summary_loading {
				display: none;
				opacity: 0;
				text-align: center;
				padding: 15px;

				.summary_loading-message {
					img {
						width: 180px;
						margin: -30px auto;
					}
				}
			}

			/* Summary: Cart */
			.summary_cart {
				padding: 15px 0;
				max-height: 210px;
				overflow: scroll;

				p {
					margin: 0;
				}

				.summary_cart-item {
					@include display-flex;
					flex-flow: row nowrap;
					margin: 0 0 15px;

					.summary_cart-item_title {
						flex: 3;
					}
					.summary_cart-item_quantity {
						text-align: center;
						font-weight: bold;
					}
					.summary_cart-item_price {
						text-align: right;
						font-weight: bold;
					}
					p {
						flex: 1;
					}
					&:nth-last-of-type(1) {
						margin-bottom: 0;
					}
				}
			}

			/* Summary: Actions */
			.summary_actions {
				button {
					width: 100%;
				}
			}

			/* Summary: Totals */
			.summary_totals {
				@include display-flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				padding: 15px 0 0;
				margin: 15px 0 -2.5px;
				border-top: 1px solid $color__input-border;

				p {
					margin-bottom: 0;
				}

			}
		}
		/* Screen: Columns */
		.screen-column:nth-of-type(1) {
			height: 347.5px;
			margin: 30px;
		}
		/* Screen: Form */
		.screen-form,
		.screen-header,
		.screen-footer {
			max-width: 390px;
		}
		.screen-form {
			padding: 22.5px;
		}
		/* Screen: Header */
		.screen-header {
			max-width: 100%;
			align-self: flex-end;
			margin-bottom: 30px;
		}
		/* Screen: Column */
		.screen-column {
			flex: 1;
			max-width: 390px;
		}
		/* Screen: Footer */
		.screen-footer {
			text-align: center;
			padding: 0;
			align-self: flex-start;
			max-width: 100%;
			margin-top: -60px;
		}
		
	}

}

/* Responsiveness: Not Mobile */
@media (min-width: 469px) {
	#subscriptions {
		.dsk { display: initial; }
		.mob { display: none !important; }
	}
}

/* Responsiveness: Mobile */
@media (max-width: 768px) {
	#subscriptions {
		.dsk { display: none !important; }
		.mob { display: initial; }

		/* Generic: Screen */
		.screen {
			margin-top: $size__site-navbar-mobile/2;
			padding: 22.5px;

			/* Generic: Screen header */
			.screen-header {
				h5 {
					font-size: 13px;
					margin: 0;
				}
			}

			/* Generic: Screen Form */
			.screen-form {
				padding: 15px 22.5px 15px;
				justify-content: flex-start;
				margin-bottom: 15px;

				.radio-group {
					input {
						display: inline-block;
					}
					input,
					label {
						font-size: 13px;
					}
				}

				/* Screen Form: Buttons */
				.form__actions button {
					font-size: 11px;
				}
			}

			/* Generic: Buttons */
			.button_back {
				top: initial;
				left: initial;
				margin: 3%;
				margin-top: 5%;
				position: relative;

				a {
					font-size: 10px;
					// color: $color__text-headings-alt;

					i.linear:before {
						font-size: 15px;
						// color: $color__text-headings-alt;
					}
				}
			}
		}

		/* Subscriptions: Intro */
		#subscriptions__intro {
			margin-top: -30px;

			/* Subscriptions Intro: Header */
			.subscriptions__intro-header {
				width: 100%;
				padding: 0 15px 15px;

				.subscriptions__intro-title {
					font-size: 30px;
					margin-top: 0;
				}
				.subscriptions__intro-content {
					width: auto;
					font-size: 13px;
					margin: 0 0;
				}
			}

			/* Subscriptions Intro: Summary */
			.subscriptions__intro-summary {
				.subscriptions__intro-summary_content {
					margin: 7.5px auto 22.5px;
					padding: 22.5px 22.5px 15px;

					h6 {
						font-size: 11px;
					}
					.list.checks li {
						font-size: 13px;
					}
				}
				/* Subscriptions Intro: Actions */
				.subscriptions__intro-actions {
					button {
						font-size: 13px;
						margin: 15px 0;
					}
				}
				/* Subscriptions Intro: Summary Example Link */
				.subscriptions__intro-summary_example {
					a {
						font-size: 10px;

						i.linear:before {
							font-size: 15px;
						}
					}
				}
			}
		}

		#subscriptions__step_1,
		#subscriptions__step_2 {
			margin-top: -15px;
		}

		#subscriptions__step_2 {
			.screen-form {
				max-width: 240px;
			}
		}

		/* Subscriptions: Step 3 
		   NOTE: We change from flex to normal display here as we 
		   make the checkout actions into a fixed position buy box on mobile */
		#subscriptions__step_3 {
			left: 0;
			right: initial;
			display: block;
			padding: 0;
			margin-top: $size__site-navbar-mobile;
			height: 100vh;
			overflow: scroll;

			/* Screen Header */
			.screen-header {
				display: none;
			}
			/* Screen Column */
			.screen-column {
				margin: 0 auto;
			}
			/* Screen Form */
			.screen-form {
				box-shadow: none;
				border-radius: 0;
				border-top: 1px solid $color__input-border;
				border-bottom: 1px solid $color__input-border;
				padding: 15px;
				margin: 0 auto;
			}
			/* Screen Footer */
			.screen-footer {
				display: none;
			}
			/* Subscription Summary */
			#subscription_summary {
				position: fixed;
				z-index: 2;
				left: 0;
				bottom: -100%;
				margin: 0;
				width: 100%;
				max-width: 100%;

				#form__subscription_summary {
					margin: 0;
					border-radius: 0;
					padding: 7.5px;
					max-width: 100%;

					.summary_totals {
						margin: 0;
						border: none;
						padding: 2.5px 7.5px 5px;
					}
					.summary_header,
					.summary_cart {
						position: absolute;
						bottom: -100vh;
					}

					/* Summary: Header */
					.summary_header {
						width: 100%;
						left: 0;
						background-color: $color__background-alternate;
						padding: 15px;
						border-top: 1px solid $color__input-border;
						text-align: center;


						h6 {
							font-size: 14px;
						}
					}

					/* Summary: Cart */
					.summary_cart {
						background-color: $color__background;
						left: 0;
						width: 100%;
						min-height: 240px;
						max-height: 240px;
						border-top: 1px solid $color__input-border;
						border-bottom: 1px solid $color__input-border;
						padding: 15px;
					}

					/* Summary: Actions */
					.summary_actions {
						.summary_actions-view_cart {
							position: absolute;
							z-index: 2;
							width: 100%;
							left: 0;
							padding: 0 7.5px;

							button {
								line-height: 1em;
							}

						}
						.summary_actions-check_out {
							position: relative;
							z-index: -1;

							button {
								opacity: 0;
							}
						}
						button {
							margin: 0;
						}
					}

				}
			}

			/* Product Selection */
			#product_selection {
				width: 100%;
				min-width: auto;

				.form__product_selection {
					background-color: $color__background;

					.screen-header-mobile {
						border-bottom: 1px solid $color__input-border;
						text-align: center;
						display: block;
						width: 100%;
						padding: 22.5px 0;

						h5 {
							font-size: 13px;
							margin: 0;
						}
					}
				}
			}

			/* Subscription Lowdown */
			.subscription_lowdown {
				display: none;
				margin: 30px auto 180px;
				padding: 0;
				border-radius: 0;
				max-width: 100%;
				border-top: 1px solid $color__input-border;
				border-bottom: 1px solid $color__input-border;

				.info__box {
					background-color: $color__background;
					border: none;
					text-align: center;
			    padding: 15px 0 22.5px;

					h6 {
						padding-left: 0;
					}

					ul.list.checks {
						text-align: left;
						padding-left: 15px;
						display: inline-block;
					}
				}
			}

		}
	}
}

@media (max-width: 320px) {
	#subscriptions .form__product_selection .wrapper form .product__image {
		height: 80px;
		width: 80px;
	}
	#subscriptions .form__product_selection .wrapper form .product__title {
		width: 135px;
	}
	#subscriptions .form__product_selection .wrapper form .product__wrapper {
		width: 30px;
	}
	#subscriptions .form__product_selection .wrapper form .product__wrapper .product__quantity-wrapper input {
		width: 30px;
	}
	#subscriptions #subscriptions__step_3 .subscription_lowdown .info__box {
		ul.list.checks {
			padding-left: 30px;
		}
		li {
			font-size: 14px;
		}
	}
}

@media (max-width: 360px) { 
	#subscriptions .form__product_selection .wrapper form .product__title {
		width: 140px;
	}
}

/* Responsiveness: iPhone 6+ to iPad */
@media (min-width: 415px) and (max-width: 768px) {
	#subscriptions {
		#subscriptions__intro {
			.subscriptions__intro-header {
				max-width: 390px;
			}
		}
		#subscriptions__step_3 {
			#product_selection {
				.screen-form {
					border-radius: 8px;
					border: none;
					@include box-shadow-wide;
				}
			}
			.subscription_lowdown {
				border: none !important;
				.info__box {
					background-color: transparent !important;
				}
			}
		}
	}
}

/* Responsiveness: iPad */
@media (width: 768px) {
	#subscriptions {
		#subscriptions__step_3 {
			.screen-header {
				display: block;
			}
			#subscription_summary {
				max-width: 390px;
				left: 1%;
				right: 1%;
				margin: 0 auto 180px;
				@include box-shadow-wide;
				border-radius: 8px;

				#form__subscription_summary {
					border: none;
					border-radius: 8px;
					padding: 15px;

					.summary_totals {
						padding: 7.5px 7.5px 5px;
					}

					.summary_actions {
						margin-top: 15px;

						.summary_actions-check_out {
							z-index: 1;

								button {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}

/* Responsiveness: Smaller Screens */
@media (max-width: 1149px) {
	#subscriptions #subscriptions__step_3 {
		.subscription_lowdown {
			display: none;
		}
		#subscription_summary.complete {
			#form__subscription_summary {
				margin-left: -210px;	
			}
		}	
	}
}

/* Responsiveness: all mobile */ 
@media (max-width: 468px) {
	#subscriptions {
		#subscriptions__step_3 {
			#subscription_summary.complete {
				#form__subscription_summary {
					margin-left: -123%;

					.summary_header {
						margin: 0 0 -15px;
					}
				}
			}
		}
	}
}

/* Responsiveness: Max Height < 720px */
@media (min-width: 769px) and (max-height: 720px) {
	#subscriptions {
		margin-bottom: 15%;
	}
	#subscriptions .screen:not(#subscriptions__step_3) {
		overflow: scroll;
		display: block !important;
		padding-top: 15px;
		padding-bottom: 120px;

		.button_back {
			margin: -60px auto;
		}
		.screen-header,
		.screen-form {
			margin: 0 auto 30px;
		}
	}

	#subscriptions .screen {
		top: -150vh;
	}

	#subscriptions #subscriptions__step_3 {
		margin-top: -15px;
		position: relative;
		height: auto;

		.button_back {
			margin-top: -45px;
		}
		.screen-header {
			margin-top: 30px;
		}
		.screen-footer {
			margin-top: 45px;
		}
	}

	#subscriptions #subscriptions__intro .subscriptions__intro-header .subscriptions__intro-content {
		margin-bottom: 0;
	}
	#subscriptions #subscriptions__intro .subscriptions__intro-summary .subscriptions__intro-summary_content {
		max-width: 300px;
	}
}